<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>

    <!-- Below is not needed with WCF -->
    <!-- 
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    -->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />

    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />

  </configSections>

  <appSettings file="CustomAppSettings.config">
  </appSettings>

  <unity configSource="UnityConfiguration.config" />

  <!-- Below is not needed with WCF -->
  <!-- 
  <connectionStrings configSource="ExternalConnectionStrings.config"/>
-->
  <!-- Below is not needed with WCF -->
  <!-- 
  <dataConfiguration defaultDatabase="MainDatabaseConnectionString"/>
-->

  <connectionStrings configSource="ExternalConnectionStrings.config" />
  <dataConfiguration defaultDatabase="MainDatabaseConnectionString" />

  <system.serviceModel>


    <behaviors configSource="WCFBehaviors.config">
    </behaviors>


    <bindings configSource="WCFBindings.config">
    </bindings>

    <client configSource="WCFClient.config">
    </client>

    <services configSource="WCFServices.config">
    </services>


  </system.serviceModel>




  <system.diagnostics configSource="SystemDiagnostics.config">
  </system.diagnostics>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
