<appSettings>
  <!-- the "value" below comes from MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.UnitTests\WCFClient.config -->

  <add key ="DefaultEndPointName" value ="NamedPipeEndPointName"/>
  <!-- 
    ((Wcf.Host EndPoint Names))
  
    NamedPipeEndPointName
    BasicHttpEndPointName
    JsonEndPointName
    WSHttpEndPointName
    TcpEndPointName
  -->
  <!--
  
    ((Wcf.IIS.Host EndPoint Names))
  
    IISNamedPipeEndPointName
    IISBasicHttpEndPointName
    IISWSHttpEndPointName
    IISJsonEndPointName
    IISTcpEndPointName
  -->

  <!-- For future use-->
  <add key ="AsyncEndPointName" value ="MsmqEndPoint1"/>
</appSettings>
