<bindings>



  <netMsmqBinding>
    <binding name ="NoMSMQSecurity">
      <security mode = "None">
      </security>
    </binding>
  </netMsmqBinding>




  <netNamedPipeBinding>
    <binding name="NamedPipeBindingName1"
				 hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="9000000"
				 maxConnections="10"
				 maxReceivedMessageSize="9000000"
				 receiveTimeout="00:30:00"
				 transactionFlow="false">
      <security mode="Transport">
      </security>
    </binding>
  </netNamedPipeBinding>


  <!-- same as on server side -->

  <webHttpBinding>

    <binding name="AjaxBinding" maxReceivedMessageSize="1000000" >
    </binding>

  </webHttpBinding>

  <wsHttpBinding>
    <binding name="WSHttpBindingName1"  maxReceivedMessageSize="1000000" >
      <security mode="None">
        <transport clientCredentialType="None" />
        <message establishSecurityContext="false" />
      </security>
    </binding>


    <binding name="AjaxBinding">
      <security mode="None">
        <transport clientCredentialType="None" />
        <message establishSecurityContext="false" />
      </security>
    </binding>


  </wsHttpBinding>





  <basicHttpBinding>
    <binding name="BasicHttpEndpointBinding"
       maxBufferSize="9000000"
       maxReceivedMessageSize="9000000" 					 >
      <security mode="TransportCredentialOnly">
        <transport clientCredentialType="Windows" />
      </security>
    </binding>
  </basicHttpBinding>


  <netTcpBinding>
    <binding name="TcpBindingName" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
      <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
  </netTcpBinding>



</bindings>
