<client>

  <!-- 
	<endpoint name="MsmqEndPoint1"
		address  = "net.msmq://localhost/private/ZebraAsyncQueue"
		binding  = "netMsmqBinding"
		bindingConfiguration = "NoMSMQSecurity"
		contract = "GranadaCoder.Applications.TrinugWCFDemoVersion1.Interfaces.Controllers.IZebraAsyncController"  >
	</endpoint>

-->

  <endpoint name="NamedPipeEndPointName"
    address  = "net.pipe://localhost/LocalDepartmentBusinessService"
    binding  = "netNamedPipeBinding" bindingConfiguration="NamedPipeBindingName1"
    contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
  </endpoint>


  <endpoint name="BasicHttpEndPointName"
      address  = "http://localhost:8001/DepartmentBusinessService"
      binding  = "basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
      contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
  </endpoint>


  <endpoint name="JsonEndPointName"
          address  = "http://localhost:8002/DepartmentBusinessServiceJson"
          behaviorConfiguration="AjaxBehavior"
          binding="webHttpBinding"
          bindingConfiguration="AjaxBinding"
          contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
  </endpoint>


  <endpoint name="WSHttpEndPointName"
			  address  = "http://localhost:8003/DepartmentManagerFascade"
			  binding  = "wsHttpBinding" bindingConfiguration="WSHttpBindingName1"
			  contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
  </endpoint >


  <endpoint name="TcpEndPointName"
              address="net.tcp://localhost:8004/DepartmentManagerService"
              binding="netTcpBinding" bindingConfiguration="TcpBindingName"
              contract="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager" >
  </endpoint>



  <!-- IIS EndPoints Below  -->

  <endpoint name="IISNamedPipeEndPointName"
      address  = "net.pipe://localhost/LayeredToTieredPoc.Wcf.IIS.Host/DepartmentBusinessService.svc/DepartmentBusinessServiceNetNamedPipeAddress"
      binding  = "netNamedPipeBinding" bindingConfiguration="NamedPipeBindingName1"
      contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
  </endpoint>


  <endpoint name="IISBasicHttpEndPointName"
      address  = "http://localhost/LayeredToTieredPoc.Wcf.IIS.Host/DepartmentBusinessService.svc/DepartmentBusinessServiceBasicHttpAddress"
      binding  = "basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
      contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
  </endpoint>


  <endpoint name="IISWSHttpEndPointName"
        address  = "http://localhost/LayeredToTieredPoc.Wcf.IIS.Host/DepartmentBusinessService.svc/DepartmentBusinessServiceWSHttpAddress"
        binding  = "wsHttpBinding" bindingConfiguration="WSHttpBindingName1"
        contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
  </endpoint >


  <endpoint name="IISJsonEndPointName"
          address  = "http://localhost/LayeredToTieredPoc.Wcf.IIS.Host/DepartmentBusinessService.svc/DepartmentBusinessServiceJsonAddress"
          behaviorConfiguration="AjaxBehavior"
          binding="webHttpBinding"
          bindingConfiguration="AjaxBinding"
          contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
  </endpoint>




  <!-- 
        http://www.iis.net/learn/extensions/introduction-to-iis-express/iis-express-faq
            Q: Does IIS Express support non-HTTP protocols such as net.tcp or MSMQ?
            A: No. IIS Express only supports HTTP and HTTPS as its protocol.
  -->
  <!-- 
  The "address" below maps to the Virtual Directory of MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Wcf.IIS.Host.csproj Web Project.
  -->
  <endpoint name="IISTcpEndPointName"
              address="net.tcp://localhost/LayeredToTieredPoc.Wcf.IIS.Host/DepartmentBusinessService.svc/DepartmentBusinessServiceNetTcpAddress"
              binding="netTcpBinding" bindingConfiguration="TcpBindingName"
              contract="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager" >
  </endpoint>



</client>
