<system.diagnostics>
	<trace autoflush="true" />
	<sources>
		<source name="System.ServiceModel"
				switchValue="Information, ActivityTracing"
                >
			<listeners>
				<add name="sdt"
					type="System.Diagnostics.XmlWriterTraceListener"
					initializeData= "c:\wutemp\WCFLogs\Host1.svclog" />
			</listeners>
		</source>
	</sources>
</system.diagnostics>
