<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <typeAliases>

    <typeAlias alias="IDepartmentManagerAlias"  type="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager, MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces" />
    <typeAlias alias="DepartmentManagerAlias"  type="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.BusinessLogic.Managers.DepartmentManager, MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.BusinessLogic" />


    <typeAlias alias="IDepartmentDataAlias"  type="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Data.DomainDataLayerInterfaces.DomainData.IDepartmentData, MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Data.DomainDataLayerInterfaces" />
    <typeAlias alias="DepartmentDataAlias"  type="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Data.DomainDataViaAdoNet.DomainData.DepartmentData, MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Data.DomainDataViaAdoNet" />
    <typeAlias alias="MockDepartmentDataAlias"  type="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Data.MockDomainData.DomainData.DepartmentData, MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Data.MockDomainData" />

    <typeAlias alias="IAdoNetDepartmentDataAlias"  type="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Data.AdoNetDataLayer.Interfaces.IAdoNetDepartmentData, MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Data.AdoNetDataLayer" />
    <typeAlias alias="SqlServerDepartmentDataAlias"  type="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Data.AdoNetDataLayer.SqlServer.SqlServerDepartmentData, MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Data.AdoNetDataLayer" />

  </typeAliases>


  <containers>

    <container>

      <register type="IDepartmentManagerAlias" mapTo="DepartmentManagerAlias"/>

      <!--  -->
      <!-- <register type="IDepartmentDataAlias" mapTo="DepartmentDataAlias"/> -->
      <register type="IDepartmentDataAlias" mapTo="MockDepartmentDataAlias"/>
      
      
      <register type="IAdoNetDepartmentDataAlias" mapTo="SqlServerDepartmentDataAlias">
        <constructor>
          <!-- 
          <param name="instanceName" value="MainDatabaseConnectionString" />
          -->
        </constructor>
      </register>

    </container>

  </containers>
</unity>