<behaviors>
  <serviceBehaviors>
    <behavior name="DefaultThrottlingBehavior">
      <serviceThrottling maxConcurrentCalls="25"
							   maxConcurrentSessions="25"
							   maxConcurrentInstances="25" />

    </behavior>


    <behavior name="DepartmentManagerServiceBehavior">
      <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8001/DepartmentBusinessService/Metadata" httpsGetEnabled="false"/>
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>




  </serviceBehaviors>




  <endpointBehaviors>

    <behavior name="AjaxBehavior">
      <webHttp/>
      <!-- 
      <CorsSupport />
      -->
      <CorsSupport />
    </behavior>

  </endpointBehaviors>



</behaviors>
