<bindings>


  <!--See http://msdn.microsoft.com/en-us/library/system.servicemodel.receiveerrorhandling.aspx concerning the receiveErrorHandling, there are better options when we go to MSMQ 4.0-->

  <netMsmqBinding>
    <binding name="NoMSMQSecurity" exactlyOnce="true" receiveErrorHandling="Fault" maxRetryCycles="5" retryCycleDelay ="00:00:30" sendTimeout="00:10:00">
      <security mode = "None">
      </security>
    </binding>
  </netMsmqBinding>


  <netNamedPipeBinding>
    <binding name="NamedPipeBindingName1"
				 hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="9000000"
				 maxConnections="500"
				 maxReceivedMessageSize="9000000"
				 receiveTimeout="00:20:00"
				 transactionFlow="false">
      <security mode="Transport">
      </security>
    </binding>
  </netNamedPipeBinding>


  <webHttpBinding>

    <binding name="AjaxBinding"
             				 maxReceivedMessageSize="9000000">
    </binding>

  </webHttpBinding>



  <wsHttpBinding>

    <binding name="WSHttpBindingName1"  maxReceivedMessageSize="1000000" >

      <!--
			<security mode="None">
				<transport clientCredentialType="None" />
				<message establishSecurityContext="false" />
			</security>
-->
      <security mode = "None">
      </security>

    </binding>



    <binding name="AjaxBinding">
      <security mode="None">
        <transport clientCredentialType="None" />
        <message establishSecurityContext="false" />
      </security>
    </binding>

  </wsHttpBinding>


  <basicHttpBinding>
    <binding name="BasicHttpEndpointBinding"
       maxBufferSize="9000000"
       maxReceivedMessageSize="9000000" 					 >


      <!--
      <security mode="TransportCredentialOnly">
        <transport clientCredentialType="Windows" />
      </security>
-->
      <security mode = "None">
      </security>


    </binding>
  </basicHttpBinding>


  <netTcpBinding>
    <binding name="TcpBindingName" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
      <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
  </netTcpBinding>
  
 

</bindings>
