<services>

  <!-- 
	<service name = "GranadaCoder.Applications.TrinugWCFDemoVersion1.BusinessServices.Controllers.ZebraAsyncControllerFascade"
			 behaviorConfiguration="DefaultThrottlingBehavior"  >
		<endpoint
		   address  = "net.msmq://localhost/private/ZebraAsyncQueue"
		   binding  = "netMsmqBinding"
		   bindingConfiguration = "NoMSMQSecurity"
		   contract = "GranadaCoder.Applications.TrinugWCFDemoVersion1.Interfaces.Controllers.IZebraAsyncController" >
		</endpoint>

	</service>
-->

  <!--
	<service name="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Wcf.BusinessServices.DepartmentBusinessService">


		<endpoint
			  address  = "http://localhost:8001/DepartmentManagerFascade"
			  binding  = "wsHttpBinding" bindingConfiguration="WSHttpBindingName1"
			  contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
		</endpoint>

		<endpoint
			  address  = "net.pipe://localhost/LocalDepartmentManagerFascade"
			  binding  = "netNamedPipeBinding" bindingConfiguration="NamedPipeBindingName1"
			  contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
		</endpoint>

	</service>

-->

  <service name="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Wcf.BusinessServices.DepartmentBusinessService"
           behaviorConfiguration="DepartmentManagerServiceBehavior"
           >


    <endpoint
			  address  = "net.pipe://localhost/LocalDepartmentBusinessService"
			  binding  = "netNamedPipeBinding" bindingConfiguration="NamedPipeBindingName1"
			  contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
    </endpoint>



    <endpoint
			  address  = "http://localhost:8001/DepartmentBusinessService"
        binding  = "basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
        contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
    </endpoint>


    <endpoint
      			  address  = "http://localhost:8002/DepartmentBusinessServiceJson"
              behaviorConfiguration="AjaxBehavior"
              binding="webHttpBinding"
              bindingConfiguration="AjaxBinding"
              contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
    </endpoint>


    <endpoint
          address  = "http://localhost:8003/DepartmentManagerFascade"
          binding  = "wsHttpBinding" bindingConfiguration="WSHttpBindingName1"
          contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
    </endpoint >


    <endpoint
              address="net.tcp://localhost:8004/DepartmentManagerService"
              binding="netTcpBinding" bindingConfiguration="TcpBindingName"
              contract="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager" >
    </endpoint>


    <endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />

    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:8001/DepartmentBusinessService" />

      </baseAddresses>
    </host>

  </service>






</services>
