<appSettings>

  <!-- Pick one or the other of the "WebApiBaseAddress" below  -->

  <!-- Below value is for WebApi.Host.csproj (self hosting)-->

  <add key="WebApiBaseAddress" value="http://localhost:9000/" />

  <!-- Below value is for MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.WebApi.IIS.Host.csproj IIS Hosting -->
  <!-- See properties of MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.WebApi.IIS.Host.csproj and "Web" tab for the value below -->
  <!-- 
  <add key="WebApiBaseAddress" value="http://localhost:16899/" />
  -->

</appSettings>
