<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <typeAliases>

    <typeAlias alias="IDepartmentManagerAlias"  type="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager, MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces" />
    <typeAlias alias="DepartmentManagerWebApiProxyAlias"  type="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.WebApi.ClientProxies.Managers.DepartmentManagerClientProxy, MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.WebApi.ClientProxies" />

  </typeAliases>

  <containers>

    <container>
      <register type="IDepartmentManagerAlias" mapTo="DepartmentManagerWebApiProxyAlias"/>
    </container>

  </containers>
</unity>