<behaviors>
  <endpointBehaviors>
    
    <behavior name="AjaxBehavior">
      <webHttp helpEnabled="true" />
      <CorsSupport />
    </behavior>
  </endpointBehaviors>
 
  <serviceBehaviors>
    <behavior name="DefaultThrottlingBehavior">
      <serviceThrottling maxConcurrentCalls="25" maxConcurrentSessions="25"
        maxConcurrentInstances="25" />
    </behavior>
    <behavior name="DepartmentManagerServiceBehavior">
      <!-- httpGetUrl is 'relative' in IIS -->
      <serviceMetadata httpGetEnabled="true" httpGetUrl="Metadata"
        httpsGetEnabled="false" /> <!-- httpGetUrl is 'relative' in IIS -->
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
  </serviceBehaviors>
</behaviors>
