<services>


  <service name="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.Wcf.BusinessServices.DepartmentBusinessService"
           behaviorConfiguration="DepartmentManagerServiceBehavior"
           >

    <host>
      <baseAddresses>
        <!-- 
        <add baseAddress="net.tcp://localhost:22333/"/>
        -->
      </baseAddresses>
    </host>

    
    <!-- To Do Named Pipes   See  http://stackoverflow.com/questions/16820022/binding-net-pipe-to-default-web-site-via-iis      -->


    <!-- netNamedPipeBinding notes -->
    <!-- 
        http://www.iis.net/learn/extensions/introduction-to-iis-express/iis-express-faq
            Q: Does IIS Express support non-HTTP protocols such as net.tcp or MSMQ?
            A: No. IIS Express only supports HTTP and HTTPS as its protocol.
    -->
    <!-- 
            Error (WCF): Could not find a base address that matches scheme net.tcp for the endpoint with binding NetTcpBinding. Registered base address schemes are [http].

            Step 1: Note WAS (Windows Process Activation Service) or non-http protocol support, is only supported by following platforms: • Windows Vista • Windows 7 • Windows Server 2008

            Go to Turn Windows features on or off
            Go to Microsoft .NET Framework 3.5
            Check Windows Communication Foundation HTTP Activation
            Check Windows Communication Foundation Non-HTTP Activation

            Step 2: IIS > WCF Host Web Site > Manage Application > advanced Settings > Enabled Protocols > Set the value to:
            http,net.tcp
            Make sure there are not spaces in "http,net.pipe"
            
            Step 3:
              In Services window check below services are started and if it is not then start it.
                a. Net.Pipe Listener adapter if you are using netNamedPipeBinding. 

    -->

    <!-- Non IIS Address net.pipe://localhost/LocalDepartmentBusinessService  -->
    <endpoint
			  address  = "DepartmentBusinessServiceNetNamedPipeAddress"
			  binding  = "netNamedPipeBinding" bindingConfiguration="NamedPipeBindingName1"
			  contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
    </endpoint>

    
    
    <!-- address is 'relative' in IIS -->
    <endpoint
			  address  = "/DepartmentBusinessServiceBasicHttpAddress"
        binding  = "basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
        contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
    </endpoint>


    <!-- address is 'relative' in IIS -->
    <endpoint
      			  address  = "/DepartmentBusinessServiceJsonAddress"
              behaviorConfiguration="AjaxBehavior"
              binding="webHttpBinding"
              bindingConfiguration="AjaxBinding"
              contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
    </endpoint>


    <endpoint
          address  = "/DepartmentBusinessServiceWSHttpAddress"
          binding  = "wsHttpBinding" bindingConfiguration="WSHttpBindingName1"
          contract = "MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager"	>
    </endpoint >
    
    
    <!-- netTcpBinding notes -->
    <!-- 
        http://www.iis.net/learn/extensions/introduction-to-iis-express/iis-express-faq
            Q: Does IIS Express support non-HTTP protocols such as net.tcp or MSMQ?
            A: No. IIS Express only supports HTTP and HTTPS as its protocol.
    -->
    <!-- 
            Error (WCF): Could not find a base address that matches scheme net.tcp for the endpoint with binding NetTcpBinding. Registered base address schemes are [http].

            Step 1: Note WAS (Windows Process Activation Service) or non-http protocol support, is only supported by following platforms: • Windows Vista • Windows 7 • Windows Server 2008

            Go to Turn Windows features on or off
            Go to Microsoft .NET Framework 3.5
            Check Windows Communication Foundation HTTP Activation
            Check Windows Communication Foundation Non-HTTP Activation

            Step 2: IIS > WCF Host Web Site > Manage Application > advanced Settings > Enabled Protocols > Set the value to:
            http,net.tcp
            Make sure there are not spaces in "http,net.tcp"

    -->
    <endpoint
              address="DepartmentBusinessServiceNetTcpAddress"
              binding="netTcpBinding" bindingConfiguration="TcpBindingName"
              contract="MyCompany.MyTechnology.MyApplications.LayeredToTieredPoc.ServiceInterfaces.Managers.IDepartmentManager" >
    </endpoint>
   

    <endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />


  </service>

</services>
