<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <appSettings file="CustomAppSettings.config">
  </appSettings>

  <unity configSource="UnityConfiguration.config" />

  <connectionStrings configSource="ExternalConnectionStrings.config" />

  <dataConfiguration defaultDatabase="MainDatabaseConnectionString" />

  <system.serviceModel>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <behaviors configSource="WCFBehaviors.config">
    </behaviors>

    <extensions configSource="WCFExtensions.config">
    </extensions>

    <bindings configSource="WCFBindings.config">
    </bindings>

    <client configSource="WCFClient.config">
    </client>

    <services configSource="WCFServices.config">
    </services>

  </system.serviceModel>


  <system.diagnostics configSource="SystemDiagnostics.config">
  </system.diagnostics>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
